{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Browse Page</title>
    <link rel="stylesheet" text="text/css" href="{% static "hms/browse.css" %}">
</head>
<body>
    <div class='preview-section'>
        <h1 class='section-header'>Header 1</h1>
        <div class='results'>
            {% for homestay in homestay_list %}
            <div class='result-card'>
            {% with homestay.reviewimage_set.all|first as review_image %}
            {% if review_image %}
                <a class='cover' style="background-image: url({{ review_image.image.url }});"></a>
            {% else %}
                <a class='cover' style="background-image: url({% get_media_prefix %}images/download.png);"></a>
            {% endif %}
            {% endwith %}
                <div class='data'>
                    <a class='title-link'>{{ homestay.title }}</a>
                    <p class='address'>{{ homestay.address }}</p>
                    <div class="description">
                        <p>{{ homestay.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>